<div class="user-profile">
  <h1>User Profile</h1>
  <!-- Profile View -->
  <div *ngIf="!editMode">
    <p><strong>Username:</strong> {{ user?.Username }}</p>
    <p><strong>Email:</strong> {{ user?.Email }}</p>
    <p><strong>Birthday:</strong> {{ user?.Birthday | date }}</p>
    <button mat-raised-button color="primary" (click)="editProfile()">
      Edit Profile
    </button>
    <button mat-raised-button color="warn" (click)="deleteProfile()">
      Delete Profile
    </button>
  </div>

  <!-- Edit Profile Form -->
  <div *ngIf="editMode">
    <form>
      <div class="form-group">
        <label for="username"><strong>Username:</strong></label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="updatedUser.Username"
        />
      </div>
      <div class="form-group">
        <label for="email"><strong>Email:</strong></label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="updatedUser.Email"
        />
      </div>
      <div class="form-group">
        <label for="birthday"><strong>Birthday:</strong></label>
        <input
          type="date"
          id="birthday"
          name="birthday"
          [(ngModel)]="updatedUser.Birthday"
        />
      </div>
      <button mat-raised-button color="primary" (click)="saveProfile()">
        Save
      </button>
      <button mat-raised-button color="warn" (click)="cancelEdit()">
        Cancel
      </button>
    </form>
  </div>
</div>
